/* Estilo base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h2 {
    text-align: center;
    color: #333;
}

.success, .error {
    text-align: center;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    font-weight: bold;
}

.success {
    background-color: #d4edda;
    color: #155724;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
}

/* Layout de la página */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 600px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    font-size: 1rem;
}

input, select, button {
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #215ba0;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2388f3;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .main-content {
        padding: 10px;
    }

    .card {
        padding: 20px;
        width: 100%;
    }

    label {
        font-size: 0.9rem;
    }

    input, select, button {
        font-size: 0.9rem;
        padding: 8px;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 0.9rem;
    }

    .card {
        padding: 15px;
    }

    input, select, button {
        padding: 6px;
        font-size: 0.8rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}
